# Ignore backup files from merge conflicts

*.orig

# Ignore configuration files that may contain sensitive information.
/docroot/sites/default/*settings.php

# Ignore paths that contain user-generated content.
/docroot/sites/*/files
/docroot/sites/*/private
/docroot/sites/default/*.settings.php
/docroot/sites/all/modules/civicrm-extensions/cache
/docroot/sites/all/modules/custom/civiwwa_migrate/data_sources
/dumps
/.idea/*
/setup/l10n
