<?php
global $civicrm_setting;

$civicrm_setting['Directory Preferences']['extensionsDir'] = '/var/www/html/sites/all/modules/civicrm-extensions/';
$civicrm_setting['URL Preferences']['extensionsURL'] = CIVICRM_UF_BASEURL . '/sites/all/modules/civicrm-extensions/';

$civicrm_setting['MailChimp Preferences']['api_key'] = 'YOUR_MAILCHIMP_API_KEY-us14';
$civicrm_setting['MailChimp Preferences']['security_key'] = 'A_KEY_FOR_YOUR_MAILCHIMP_HOOKS';
$civicrm_setting['iwwa_newsletter']['list_id'] = 'LIST_ID_OF_YOUR_MAILCHIMP_LIST';
$civicrm_setting['iwwa_newsletter']['press_list_id'] = 'LIST_ID_OF_YOUR_MAILCHIMP_LIST_FOR_PRESS_CONTACTS';
